*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
header{
    padding: 4vh;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
@media (max-width: 1000px) {
    header{
        font-size: 4vw;
    }
}