*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-darkblue: rgb(27, 27, 50);
}
body{
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-darkblue);
    background-color: rgb(155, 151, 151);
}
header{
    padding: 1vw;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
@media (max-width: 1000px) {
    header{
        font-size: 4vw;
    }
   
}
@media (max-width: 800px) {
    article{
        flex-direction: column;
    }
}


article{
    height: 75vh;
    display: flex;
    padding: 2vh;
    display: flex;
    flex-direction: row;
}
.color-picker{
    height: 10vh;
    width: 10vh;
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
}
.color-picker:hover{
    height: calc(10vh + 10px);
    width: calc(10vh + 10px);
    transition: all 0.15s ease-in;
}
.color-picker:not(:hover){
    height: 10vh;
    width: 10vh;
    transition: all 0.15s ease-in;
}
.setting-elements{
    display: flex;
    flex-direction: column;
    width: 35%;
    row-gap: 5vh;
    align-items: center;
    padding: 2vh;
}
.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
    padding: 30px;
    transform: translateY(-30px);
}
.btn{
    width: 12vw;
    height: 5vh;
    min-width: 100px;
    min-height: 50px;
    border: none;
    background-color: var(--color-darkblue);
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
}
.btn:hover{
    opacity: 0.6;
    transition: all 0.15s ease-in;
    height: calc(5vh + 10px);
    width: calc(12vw + 10px);;
}
.btn:not(:hover){
    opacity: 1;
    transition: all 0.15s ease-in;
    height: 5vh;
    width: 12vw;
}
.slider{
    background-color: var(--color-darkblue);
    width: 20vw;
    height: 10px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
}
.drawing-container{
    height: 10px;
    width: 10px;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container{
    height: 50vh;
    width: 50vh;
    background-color: white;
    box-shadow: 2px 2px 4px #000000;
    display: grid;
    grid-template-rows: 16;
    grid-template-columns: 16;
}
.styleSquares{
    border: 1px solid black;
}