*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-darkblue: rgb(27, 27, 50);
}
body{
    font-family: 'Courier New', Courier, monospace;
    color: var(--color-darkblue);
}
header{
    padding: 4vh;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}
@media (max-width: 1000px) {
    header{
        font-size: 4vw;
    }
    
}


article{
    height: 75vh;
    display: flex;
    padding: 2vh;
}
.color-picker{
    height: 10vh;
    width: 10vh;
    background-color: rgb(51, 50, 50);
    border-radius: 50%;
}
.setting-elements{
    display: flex;
    flex-direction: column;
    width: 35%;
    row-gap: 7vh;
    align-items: center;
    padding: 2vh;
}
.buttons{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}
.btn{
    width: 12vw;
    height: 5vh;
    min-width: 100px;
    min-height: 50px;
    border: none;
    background-color: var(--color-darkblue);
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
}
.btn:hover{
    opacity: 0.6;
    transition: all 0.15s ease-in;
    height: calc(5vh + 10px);
    width: calc(12vw + 10px);;
}